<div layout="row" layout-wrap ng-controller="MainCtrl">
  <div flex="66">
    <md-content>
      <md-card>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
          <ui-gmap-marker
            idKey='marker.id'
            options='marker.options'
            coords='marker.coords'
            >
            <ui-gmap-window show='true'>
              <div>Your current position</div>
            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </md-card>
    </md-content>
  </div>
  <div flex="33">

    <md-content>
      <md-card ng-show="!getOrderId()">
        <md-card-content>
          <h3 class="md-title">Order submitting</h3>
          <form class="md-padding" name="order">
            <md-input-container flex>
              <label>From</label>
              <input ng-model="order.from" placeholder="Liivi 2" g-places-autocomplete required />
            </md-input-container>
            <md-input-container flex>
              <label>Destination</label>
              <input ng-model="order.to" placeholder="Narva mnt. 27" g-places-autocomplete required />
            </md-input-container>
            <md-input-container flex>
              <label>Phone</label>
              <input ng-model="order.phone" placeholder="+7201231234" required />
            </md-input-container>
            <div layout="row" layout-align="end center">
              <md-button type="submit" class="md-raised md-primary" aria-label="order" ng-disabled="order.$invalid" ng-click="sendOrder(order)">Order</md-button>
            </div>
          </form>
        </md-card-content>
      </md-card>
      <md-card ng-hide="!getOrderId()">
        <md-card-content>
          <h3 class="md-title">Your order</h3>
          <h4>Your location: {{orderDetails.from | limitTo: 30}}</h4>
          <h4>Your destination: {{orderDetails.to | limitTo: 30}}</h4>
        </md-card-content>
      </md-card>
      <md-card ng-hide="driver.carNumber == null ">
        <md-card-content >
          <h3 class="md-title">Your driver</h3>
          <md-button type="submit" class="md-raised md-primary" aria-label="order" ng-click="cancelOrder()">Cancel order</md-button>
          <h4>Your car number: {{driver.carNumber}}</h4>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
</div>
